@font-face {
  font-family: "intro";
  src: url("../fonts/IntroRegularAlt.otf");
  font-weight: normal;
}

@font-face {
  font-family: "intro";
  src: url("../fonts/IntroSemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "intro";
  src: url("../fonts/Intro-Bold-Alt.otf");
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "intro";
  background-color: #f3f3f3;
}

header,
nav#menu {
  transition: all 1s;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: #ea5353;
}

.text-primary {
  color: #ea5353 !important;
}

.text-dark-blue {
  color: #2f3a59 !important;
}

.bg-primary {
  background-color: #ea5353 !important;
}

.bg-grey {
  background-color: #ccc !important;
}

.bg-dark-blue {
  background-color: #2f3a59 !important;
}

.bg-salmon {
  background-color: #f3945d !important;
}

.btn.bg-primary:hover {
  background-color: #ec3c3c !important;
}

.custom-bullet {
  width: 15px;
  height: 15px;
  background-color: #ea5353;
}

.wpp-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.img-carousel {
  height: 75vh;
  object-fit: cover;
}
